html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 5px;
  background: var(--color-grey);
}


body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: var(--color-acid-green);
}

img,
svg {
  display: block;
}

svg {
  overflow: visible;
}

/* custom exceptions */

.h2 {
  text-transform: capitalize;
  margin-bottom: var(--space-m);
  width:max-content;
  @media(--m){
      margin-bottom: var(--space-l);
  }
}

p {
  padding-top:0;
}

p > a {
  border-bottom: 1px solid #000;
  &:hover {
    background-color: var(--color-grey);
  }
}
