html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @extend .typo--m;
  overflow-x: hidden;
}

::selection {
  color: black;
  background: yellow;
}

pre {
  @extend .typo--s;
  white-space: break-spaces;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  > * {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.justify-self-left {
  justify-self: start;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-right {
  justify-self: end;
}
.justify-self-stretch {
  justify-self: stretch;
}

.hidden-md {
  @media (--m) {
    display: none;
  }
}

.label {
  color: var(--color-l-grey);
}

input,
select,
textarea {
  color: var(--color-text);
  outline: 0;
  @extend .typo--input;
}

.input--boxed {
  background: var(--color-white);
  border-radius: var(--radius);

  input {
    height: var(--boxed-height);
    border: none;
    padding: 0 var(--spacer-s);
    @extend .typo--xxs;
  }
}

.select {
  &.boxed {
    select {
      background: var(--color-white);
      border: none;
      border-radius: var(--radius);
      min-height: var(--boxed-height);
      padding: 0 var(--spacer-s);
      @extend .typo--xxs;
    }
  }
}

body:not(.loaded) {
  opacity: 0;
  visibility: hidden;
}

img,
svg {
  display: block;
}

svg {
  overflow: visible;
}
