.typo {
	&--m {
		font-family: "Helvetica", "Arial", sans-serif;
		font-weight: 450;
		font-size: 24px;
		line-height: 26px;
		@media (--m) {
			font-size: 32px;
			line-height: 34px;
		}
	}
	&--l {
		font-family: "Helvetica", "Arial", sans-serif;
		font-weight: 450;
		font-size: 24px;
		line-height: 26px;
		@media (--m) {
			font-size: 32px;
			line-height: 34px;
		}
	}
}

/* Trim https://seek-oss.github.io/capsize/ */

.typo {
	&--xs--trimmed,
	&--xxs--trimmed {
		&::before,
		&::after {
			content: "";
			display: table;
		}
	}
	&--xs--trimmed {
		&::before {
			margin-bottom: -0.236em;
		}
		&::after {
			margin-top: -0.149em;
		}
	}
	&--xxs--trimmed {
		&::before {
			margin-bottom: -0.261em;
		}

		&::after {
			margin-top: -0.174em;
		}
	}
}
