.typo {
	&--xs {
		font-family:  "Venus Plomb", "Arial", sans-serif;
		font-weight: 300;
		font-size: 14px;
		line-height: 125.5%;
		@media (--m) {
			font-size: 12px;
			line-height: 125.5%;
		}
		@media (--xl) {
			font-size: 0.8svw;
			line-height: 125.5%;
		}
	}
	&--s {
		font-family:  "Venus Plomb", "Arial", sans-serif;
		font-weight: 300;
		font-size: 16px;
		line-height: 125.5%;
		@media (--xl) {
			font-size: 1.1svw;
			line-height: 125.5%;
		}
	}
	&--m {
		font-family: "Venus Plomb", "Arial", sans-serif;
		font-weight: 300;
		font-size: 20px;
		line-height: 125.5%;
		@media (--m) {
			font-size: 18px;
			line-height: 125.5%;
		}
		@media (--xl) {
			font-size: 1.2svw;
			line-height: 125.5%;
		}
	}
	&--l {
		font-family: "Venus Plomb", "Arial", sans-serif;
		font-weight: 450;
		font-size: 22px;
		line-height: 26px;
		@media (--xl) {
			font-size: 1.7svw;
			line-height: 125%;
		}
	}
}

/* Trim https://seek-oss.github.io/capsize/ */

.typo {
	&--xs--trimmed,
	&--xxs--trimmed {
		&::before,
		&::after {
			content: "";
			display: table;
		}
	}
	&--xs--trimmed {
		&::before {
			margin-bottom: -0.236em;
		}
		&::after {
			margin-top: -0.149em;
		}
	}
	&--xxs--trimmed {
		&::before {
			margin-bottom: -0.261em;
		}

		&::after {
			margin-top: -0.174em;
		}
	}
}
